* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(45deg, 
        #000000,        /* Черный */
        #ffff00,        /* Желтый */
        #00ff00         /* Зеленый */
    );

    /* Опционально: создаем анимацию для плавного перехода */
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота страницы */
}

nav {
    display: flex; /* Включаем Flexbox */
    align-items: center; /* Выравниваем по вертикали по центру */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0; /* Уменьшено значение padding */
    height: 60px; /* Фиксированная высота */
}

.logo-image {
    width: 100px;   
    height: 90px; 
    margin-left: -123px;
}

.logo-imagee {
    width: 190px;   
    height: 160px;        
    padding-left: 23px;
    margin-left: -60px;
    margin-top: -3px;
}

.product {
    text-align: center;
    margin: 40px 0;
}

.invisible-container {
    height: 100px; /* Установите фиксированную высоту */
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
}

.product-item {
    display: inline-block;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    position: relative; /* Позволяет использовать абсолютное позиционирование внутри */
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-title {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.order-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.order-button:hover {
    background-color: #a9ff08;
}

.order-form {
    padding: 40px 0;
    text-align: center;
}

.order-form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    position: fixed; /* Установка фиксированной позиции */
    bottom: 0; /* Позиция внизу экрана */
    width: 100%; /* Ширина на весь экран */
}
