* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts {
    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Легкий фон для секции */
}

.contacts h3 {
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}
@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.scale-down-center {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

html, body {
    height: 100%; 
}

.clients-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.info-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Установите шрифт для текста информации */
    margin: 20px 0; /* Отступы сверху и снизу */
}

body {
    background: linear-gradient(45deg, 
        #000000,        /* Черный */
        #ffff00,        /* Желтый */
        #00ff00         /* Зеленый */
    );

    /* Опционально: создаем анимацию для плавного перехода */
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
    height: 60px;
}

.logo-image {
    width: 100px;   
    height: 125px; 
    margin-right: -10px;
    margin-left: -120px;  
}

.logo-imagee {
    width: 170px;   
    height: 160px;        
    margin-left: -770px;  
}

nav {  
    display: flex;  
    align-items: center;  
    justify-content: space-between; 
    width: 100%;  
}  

.nav-links {  
    list-style: none;  
    display: flex;  
    gap: 2px;  
}

.nav-links a {  
    font-family: Impact;  
    font-size: 16px;  
    color: white;  
    text-decoration: none;  
    transition: color 0.3s;  
    padding: 5px 10px;  
    margin: 0;  
}

.nav-links a:hover {
    color: #ccc; 
}

.features {  
    padding: 40px 0;  
    text-align: center;  
}  

.features h3 {  
    margin-bottom: 30px;  
}  

.feature {  
    margin: 20px 0;  
}  

.about {
    padding: 40px 0; 
    text-align: center; 
    font-family: 'Impact', 'Charcoal', sans-serif; 
}

.info-headline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Шрифт для заголовков */
    font-size: 32px;
    color: #000000;
}

.about h2, .about h3 {
    margin-bottom: 10px;
}

.about p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Устанавливаем шрифт для всех абзацев */
    margin: 0; 
    margin-bottom: 20px; 
}

.clients-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
    margin-bottom: 40px; 
}

.client {
    width: calc(50% - 10px); 
}

.client-frame {
    border: 2px solid #000000; 
    padding: 20px; 
    border-radius: 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    text-align: center; 
    background-color: #fbff00;
    margin: 0 auto;
}

.client-content {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}

.client-photo {
    margin: 0 10px; 
}

.client-photo img {
    border-radius: 8px; 
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
}

.arrow {
    display: flex;
    align-items: center; 
}

.arrow-image {
    width: 50px; 
    height: auto; 
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin: 40px 0; 
}

.cta-button {
    font-family: Impact;
    background-color: #000000; 
    color: rgb(255, 255, 255); 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.cta-button:hover {
    background-color: #a9ff08; 
}

footer {  
    background-color: rgb(0, 0, 0);  
    color: white;  
    text-align: center;  
    padding: 20px 0;  
}  

@media (max-width: 768px) {  
    .container {  
        width: 90%;  
        margin: 0 auto;  
    }  

    .clients-container {
        flex-direction: column; 
    }
    
    .client {
        width: 100%; 
        margin-bottom: 20px; 
    }
    
    .client-frame {
        margin: 0; 
    }
    
    .client-content {
        flex-direction: column; 
    }
 
    .arrow {
        margin: 10px 0; 
    }
}